<%= form_for @comment,:url => {:action => :create} do |form| %>
<%= render "form", form: form %>
<%= form.submit "コメントする" %>
<% end %>

<hr>
<% @comments.each do |contents| %>
  <p>
    <b><% contents.comment %></b> |
    <font color="#BDBDBD">投稿日時<%= contents.created_at.strftime('%Y/%m/%d/ %H:%M:%S') %></font> |
    <%= link_to "いいね" %>:
  </p>
<% end %>
