<h1><%= @page_title %></h1>
<p><%= link_to "TOP",:root %></p>
<hr color="#E6E6E6">

<tr >
  <td><font size="4"><%= @post.id %>: </font></td>
  <td><font color="#BDBDBD">投稿日時<%= @post.created_at.strftime('%Y/%m/%d/ %H:%M:%S') %></font> |
    <%= link_to "いいね" %>: <%= @count %></td>
  <br>
  <td ><b><%= @post.post %></b></td>
  <br>

  <hr>

  <ul>
    <%= link_to "コメント",[@post, :comments] %>

  </ul>

</tr>
